.invest-table td {
  border-top: 1px solid #f6f6f6;
  padding: 23px 0;
  text-align: center;
}

.invest-table td .ui-btn {
  padding: 14px 30px;
}

.invest-table td .invest-xt-title {
  color: #b9b9b9;
  margin-bottom: 8px;
}

.invest-table td .credit-level {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  background-color: #74ca98;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.invest-table td .credit-level.level_b {
  background-color: #f1c40f;
}

.invest-table td .credit-level.level_c {
  background-color: #fc8478;
}

.invest-table .invest-title {
  padding-left: 30px;
  font-size: 16px;
  text-align: left;
}

.invest-table .invest-title p {
  margin-top: 5px;
}

.invest-table .invest-title .green-bbox {
  font-size: 12px;
  padding: 1px 10px;
  margin-right: 5px;
}

.invest-table .invest-rate {
  text-align: left;
  padding-left: 20px;
}

.invest-table .invest-progress {
  text-align: left;
  padding-left: 20px;
}

.invest-table .invest-progress p {
  color: #b9b9b9;
  padding-top: 5px;
}

.invest-menu li {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 16px;
}

.invest-menu li a {
  display: block;
  height: 58px;
  line-height: 58px;
}

.invest-menu li a .separator {
  color: #eee;
  float: right;
}

.invest-menu li.cur {
  color: #2c97f4;
  border-top: 2px solid #2c97f4;
  margin-top: -1px;
}

.filter-box {
  overflow: hidden;
}

.filter-box h5 {
  font-weight: normal;
  margin: 24px 0 0 30px;
}

.filter-wrap {
  font-size: 14px;
  margin-left: 10px;
}

.filter-wrap dt {
  padding: 18px 0 8px 20px;
  margin-left: 5px;
}

.filter-condition {
  overflow: hidden;
}

.filter-condition dt, .filter-condition dd {
  float: left;
  padding: 10px 20px;
}

.filter-condition dd .selected {
  background-color: #2c97f4;
  color: #fff;
  border-radius: 3px;
  padding: 2px 6px;
}

.invset-list-wrap {
  margin: 25px;
  margin-top: 20px;
  border: 1px solid #eee;
}

.invest-table-inside th {
  font-weight: normal;
  background-color: #f9f9f9;
  position: relative;
}

.invest-table-inside th.invest-title {
  font-size: 12px;
}

.invest-table-inside th.invest-avali {
  text-align: left;
  padding-left: 20px;
}

.invest-table-inside th b {
  position: absolute;
  margin-left: 5px;
}

.invest-table-inside th b.triangle-up {
  top: 20px;
}

.invest-table-inside th b.triangle-down {
  bottom: 19px;
}

.invest-table-inside td {
  border-color: #eee;
}

.invest-table-inside td .green-bbox {
  padding: 1px 5px;
}

.invest-table-inside td .ui-btn {
  padding: 10px 30px;
}

.invest-table-inside td .invest-end {
  padding: 10px 37px;
  cursor: not-allowed;
}

.invest-table-inside th, .invest-table-inside td {
  padding: 20px 0;
}

.invest-table-inside .invest-title {
  font-size: 14px;
}

.invest-current {
  overflow: hidden;
  padding-bottom: 60px;
}

.invest-current .invest-hq-chart {
  width: 440px;
  margin-top: 40px;
  margin-left: 20px;
}

.invest-current .invest-hq-rate {
  width: 210px;
  padding: 90px 20px 0 100px;
}

.invest-current .invest-hq-rate p {
  padding-bottom: 5px;
}

.invest-current .invest-hq-rate span {
  font-size: 34px;
  color: #2c97f4;
}

.invest-current .invest-hq-rate span .icon-down {
  width: 22px;
  height: 26px;
  background: url(../images/sprites/icon-downgreen.png) no-repeat;
}

.detail-invest-box {
  width: 270px;
  margin-right: 68px;
}

.detail-invest-content .invest-last-num {
  line-height: 1.8;
}

.detail-invest-content .ui-input-body input {
  width: 100%;
  margin-top: 3px;
}

.detail-invest-content .invest-money-detail {
  position: relative;
}

.detail-invest-content .invest-money-detail .detail-icons {
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  float: left;
}

.detail-invest-content .invest-money-detail .icon-plus {
  background: url(../images/sprites/icon-plus.png) no-repeat;
}

.detail-invest-content .invest-money-detail .icon-minus {
  background: url(../images/sprites/icon-minus.png) no-repeat;
}

.detail-invest-content .invest-money-detail .invest-money-text {
  width: 206px;
  float: left;
}

.detail-invest-content .invest-money-detail .invest-money-text p {
  padding-bottom: 10px;
  overflow: hidden;
  margin: 0 3px;
}

.detail-invest-content .invest-money-detail .money-last {
  display: none;
}

.detail-invest-content .invest-money-detail .btn-recharge {
  color: #2c97f4;
  border: 1px solid #2c97f4;
  padding: 0 3px;
  border-radius: 3px;
  margin-left: 5px;
  float: right;
}

.content .detail-tabs {
  height: 58px;
  border: 1px solid #eee;
  position: relative;
  background-color: #f9f9f9;
}

.content .detail-tabs-item {
  display: block;
  float: left;
  height: 58px;
  line-height: 58px;
  padding: 0 32px;
  font-size: 16px;
  border-right: 1px solid #eee;
}

.content .detail-tabs-active {
  height: 58px;
  line-height: 58px;
  background-color: #fff;
  color: #399df5;
  border-top: 2px solid #3498db;
}

.ask-item {
  line-height: 2;
  padding: 10px 30px;
}

.invest-intro-pd {
  padding: 0 30px 60px;
}

.invest-intro-table tr:first-child td {
  border-top: 2px solid #eee;
}

.invest-intro-table td {
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.invest-intro-table td:first-child {
  padding-left: 30px;
}

.layer-title {
  font-size: 16px;
  border-left: 3px solid #2c97f4;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 5px;
  line-height: normal;
}

.layer-content {
  width: 270px;
  margin: 0 auto;
}

.layer-content .charge_psw {
  width: 80% !important;
  margin-top: 2px !important;
}

.layer-content .btn-invest-all {
  position: absolute;
  right: 0;
  top: 13px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 45px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #2c97f4;
}

.layer-content .btn-invest-all:hover {
  background-color: #62b7e7;
}

.layer-content .prospect-earn {
  padding: 14px 0 14px 3px;
}

.layer-content .invest-settle {
  padding: 8px 0;
}

.invest-money-text .use-crad-help {
  width: 263px;
}

.invest-money-text .gift-cards {
  width: 263px;
  border: 1px solid #b5dcfe;
  background-color: #f3f9ff;
  overflow: hidden;
  display: none;
}

.invest-money-text .gift-card-item {
  padding: 10px 2px 10px 0;
  overflow: hidden;
}

.invest-money-text .gift-card-item input {
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.invest-money-text .gift-card-item:first-child {
  border-bottom: 1px dashed #b5dcfe;
}

.layer-bottom {
  border-top: 1px solid #ddd;
  margin: 0 25px;
}

.layer-bottom .xyb-agree-ctn input {
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.detail-content-left {
  float: left;
  width: 840px;
}

.detail-content-left .detail-content-section {
  margin: 20px 30px 0;
}

.detail-content-left .detail-content-infor {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.detail-content-left .detail-content-item {
  float: left;
  width: 226px;
  text-align: center;
  padding: 56px 0;
}

.detail-content-left .detail-content-item.detail-content-item-end {
  text-align: left;
  padding-left: 80px;
}

.detail-content-left .detail-content-feature p {
  width: 33.33%;
  float: left;
  padding: 35px 0;
}

.detail-content-left .detail-content-feature p.release-date {
  text-indent: 50px;
}

.detail-content-left .detail-content-feature .ui-font-green .icon-sec {
  margin-left: 20px;
}

.detail-content-left .detail-content-feature .ui-font-green span {
  position: relative;
  top: -4px;
  margin-left: 5px;
}

.icon-sec {
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url(../images/sprites/icon-sec.png) no-repeat;
}

.detail-content-right {
  float: right;
}

.detail-content-right .detail-invest-box {
  width: 280px;
  margin: 54px 30px 29px;
}

.detail-content-right .btn-invest-all {
  position: absolute;
  right: 0;
  top: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 45px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #2c97f4;
}

.invest-record th {
  font-weight: normal;
  color: #b9b9b9;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.invest-record td {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.invest-record .record-date {
  text-align: left;
  padding-left: 120px;
}

/*# sourceMappingURL=invest.css.map */