//清除浮动
%clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
//文本裁剪
%overflow-clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//全局常用颜色变量
$globalColor : (   
  "white": #fff,
  "maingreen": #03d1ab,
  "maindark": #777,
  "maingray": #c6c6c6,
  "mainbg": #eee,
  "lightgreen": #6ae7d0,
  "lightgray": #cfcfcf,
  "shadow": #ddd,
  "shadowgreen": #00ac8c
);
//全局圆角
$globalRadius: .325rem !default;
