h5{
	margin: 0;
	padding:0;
	font-weight: normal;
}
.contain_wrap{
	overflow: hidden;
}
.lend-main{
	margin-top: 30px;
	margin-bottom: 20px;
}
.lender-info{
	width: 290px;
	padding:26px 30px;
	float: left;
	border-right:1px solid #eee;
	.ui-font-gray{line-height: 1.8;}
}
.lend-cal-box{
	float: left;
	padding-left: 36px;
	.ui-form-item{
		padding-top: 40px;
		padding-bottom:30px;
		float: left;
		margin-right: 25px;
		.ui-input-middle{
			width: 180px;
			input{
				margin-top: 3px;
			}
		}
		.ui-btn{
			padding:12px 60px;;
		}
	}
	label{
		float:left;
		font-size: 14px;
		line-height: 40px;
		padding-right:10px;
	}
}
// 估算列表
.level-rate{
	margin:0 auto;
	td,th{
			border-bottom:1px solid #eee;
			font-size: 14px;
		}
		td{
			padding:14px 0;
		}
		th{
			padding:22px 0;
			border-top:2px solid #eee;
			color: #b9b9b9;
			font-weight: normal;
		}
		.ui-font-gray{
			font-size: 12px;
			border-bottom:0;
			padding:22px 0 22px 122px;
		}
		.credit-level{
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			font-size: 16px;
			background-color: #74ca98;
			border-radius: 50%;
			text-align: center;
			margin: 0 auto;
			&.level_b{
				background-color: #f1c40f;
			}
			&.level_c{
				background-color: #fc8478;
			}
		}
	}

// 六大优势
.lend-advantage{
	margin-bottom: 20px;
	padding-bottom: 15px;
	&>h5{
		margin:20px 0 20px 26px;
	}
	ul{
		overflow: hidden;
	}
	li{
		float: left;
		padding:20px 60px;
		&.mkd{
			padding-right: 90px
		}
		&.xzd{
			padding-left: 40px;
			padding-right: 130px;
		}
	}
	.icon-lend{
		background: url(../images/sprites/icon-lend.png) no-repeat;
		display: inline-block;
		float: left;
	}
	.content{
		float: right;
		padding-left: 18px;
		h5{
			color: #2c97f4;
			padding:5px 0;
		}
		p{
			color: #b9b9b9;
			padding-top: 5px;
		}
	}
	.icon-wdy{
	width:46px; 
	height:53px;
	background-position: -52px 0;
	}
	.icon-mkd{
		width: 75px;
		height: 47px;
		background-position: -248px 0;
	}
	.icon-lcj{
		width: 44px;
		height: 51px;
		background-position: -100px 0;
	}
	.icon-kxy{
		width: 50px;
		height: 56px;
		background-position: 0 0;
	}
	.icon-xzd{
		width: 48px;
		height: 48px;
		background-position: -198px 0;
	}
	.icon-qzz{
		width: 50px;
		height: 50px;
		background-position: -146px 0;
	}

}
// 借款费率参考
.lend-rate{
	h5{
		margin:20px 0 20px 26px;
	}
	margin-bottom:50px;
	.rate-reference{
		margin:0 auto;
	}
	td,th{
		padding:20px 0 20px 36px;
		border-bottom:1px solid #eee;
		font-size: 14px;
	}
	th{
		border-top:2px solid #eee;
		text-align: left;
		color: #b9b9b9;
		font-weight: normal;
	}
}