// html{
// 	background:#fff;
// }
.empty-header{
	height:100px;
	background:#fff;
	a{
		display:inline-block;
		margin-top:29px;
		height:42px;
		padding-left: 180px;
		background:url("../images/xyb-logo.png") no-repeat left;
		span{
			display: block;
			padding-left: 20px;
			height:34px;
			line-height: 34px;
			border-left:1px solid #eee;
			font-size: 24px;
			color: #474747;
			margin-top: 4px;
		}
	}
}
.empty-footer{
	text-align:center;
	.links{
		margin: 50px 0;
	}
	a{
		color:#b9b9b9;
		font-size: 12px;
		padding-left:12px;
		margin-left: 12px;
		border-left:1px solid #eee;
		&:first-child{
			padding-left:0;
			margin-left: 0;
			border-left: 0;	
		}
	}
	p{
		color:#b9b9b9;
		font-size: 12px;
	}
	span{
		margin-left: 30px;
	}
}
//登录页面
.login-banner{
	height:480px;
	background:url("../images/login-banner1.png") no-repeat center;
	.contain_wrap{
		position:relative;
	}
	.login-box{
		position:absolute;
		top: 50px;
		right: 10px;
		height: 380px;
		width: 380px;
		background:#fff;
	}
}
// 提示信息页面
.page-tips{
	.contain_wrap{
		position:relative;
		padding:200px 0 ;
	}
	em{
		display: block;
		width: 40px;
		height: 40px;
		&.icon-sucess{
			background:url("../images/sprites/icon-sucess.png") no-repeat center;
		}
		&.icon-error{
			background:url("../images/sprites/icon-error.png") no-repeat center;
		}
	}
	.p1{
		color:#474747;
		font-size:18px;	
		margin:40px 0 20px;
		span{
			color:#2c97f4;
		}
	}
	.p2{
		color:#b9b9b9;
		font-size:14px;	
		margin-bottom: 16px;
		span{
			color:#2c97f4;
		}
	}
	.p3{
		color:#474747;
		font-size:14px;	
		margin-bottom: 16px;
		a,span{
			color:#2c97f4;
		}
	}
	.links{
		margin-top: 44px;
	}
	a{
		height: 28px;
		line-height: 28px;
		width: 120px;
	}
}
.page-tips-1{
	em{
		margin:0 auto;
	}
}
.page-tips-2{
	.contain_wrap{
		margin: 30px auto 80px;
		border:1px solid #eeeeee;
		background:#fff;
	}
	em{
		margin:0 auto;
	}
}
.page-tips-3{
	.contain_wrap{
		margin: 30px auto 80px;
		border:1px solid #eeeeee;
		background:#fff;
	}
	em{
		position:absolute;
		top: 240px;
		left: 340px;
	}
	.p1{
		padding-left: 400px;
	}
	.p2,.p3{
		padding-left: 400px;
	}
	.links{
		padding-left: 400px;
	}
}
// login 首页
.login-input{
	width:328px;
	margin:0 auto;
	h5{
		font-weight: normal;
		margin: 0;
		padding-bottom: 16px;
		padding-top: 30px;
	}
}
.ui-label-icon{
	background: url(../images/sprites/icon-reg.png) no-repeat;
}
.icon-form-peoples{
	width:31px;
	background-position: -84px 0;
}
.icon-form-loginpw{
	width:27px;
	background-position:-55px 0;
	margin-left: 13px;
}
.icon-form-phone{
	background-position:-117px 0;
	margin-left: 15px;
}
.icon-form-email{
	background-position:-27px 0;
	width:26px;
}
.auto-login{
	overflow: hidden;
	padding-top: 20px;
	input{
		position: relative;
		top:2px;
		margin-right: 3px;
	}
}
.login-input-wrap{
	padding-top: 100px;
	padding-bottom:200px;
}
// 输入验证码
.w85{
	width:85% !important;
}
.input-vali-code{
	.ui-input-middle{
		width: 220px;
	}
	input{
		margin-left: -34px;
	}
	img{
		float: right;
	}
}
// 推荐人
.w98{
	width:98% !important;
}
.recommend-code{
	text-align:left;
	padding:10px 0;
	font-size: 14px;
	.icon-tj-minmus{
		background-position:-143px 0;
		position: relative;
		top:-10px;
	}
}
// 发送验证码
.send-code{
	float: right;
	.ui-btn{
		margin-right:-1px;
		padding:0;
		width: 114px;
		height:40px;
		box-sizing:border-box;
		line-height: 42px;
	}
}